body {
  padding-top: 70px;
  padding-bottom: 30px;
  font-family: Arial, sans-serif;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.argument-content {
    background: #ebf2f8;
    padding: 20px;
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: table;
}

.quote {
    font-size: 14px;
}

#homepage-jumbo {
  color: #eee;
  background-image: url("drone.jpg");
  background-size: cover;
  background-position: center;
}

.example {
  margin: 10px 0 10px 0;
}

.example img {
  width: 100%;
}

.tab-pane  h4 {
  text-align: center;
}

.tab-pane > h4 {
  width:80%;
  margin: 20px auto;
}

/* override bootstrap extra wide */
@media (min-width:1200px){.container{width:970px}};